//
//  Indents
//  ---------------------------------------------

@amcompany__indent: 10px;
@amcompany__indent__l: @amcompany__indent * 2 - @amcompany__indent / 2;
@amcompany__indent__xl: @amcompany__indent * 2;
@amcompany__indent__xxl: @amcompany__indent + @amcompany__indent__l;

